﻿@inject HttpClient Http
@using Newtonsoft.Json

<EditForm Model="@ClientObject" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    @*<ValidationSummary />*@

    <div class="modal-w">
        <div class="row">
            @if (!string.IsNullOrEmpty(@Error))
            {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                @Error
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            }
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="status">Client Type</label>
                    <InputSelect id="Summary" class="form-control" @onchange="@(e => OnClientTypeSelect(e))"
                                 @bind-Value="ClientObject.ClientType">
                        <option value="" selected="selected">Select client ...</option>
                        <option value="None">None</option>
                        <option value="BusinessOwner">Business Owner</option>
                        <option value="Merchant">Merchant</option>
                        <option value="Bank">Bank</option>
                    </InputSelect>
                    <ValidationMessage For="@(() => ClientObject.ClientType)" />
                </div>
                <div class="form-group @(ClientObject.ClientType.ToString() == "Bank" ? "d-block":"d-none")">
                    <label for="bankCode">Bank Code(s)</label>
                    <input type="hidden" @bind-value="@ClientObject.Id" />
                    <InputText id="bankCode" class="form-control" @bind-Value="@ClientObject.BankCode" />
                    <ValidationMessage For="@(() => ClientObject.BankCode)" />
                </div>
                <div class="form-group @(ClientObject.ClientType.ToString() == "Merchant" ? "d-block":"d-none")">
                    <select @bind="@ClientObject.MerchantIds" class="form-control">
                        <option value="0">Choose...</option>
                        @if (MerchantList != null)
                        {
                        @foreach (var cnt in MerchantList)
                            {
                        <option value="@cnt.Id" selected=@(ClientObject.MerchantIds == cnt.Id)> @cnt.Name  (@cnt.Id)</option>

                            }
                        }
                    </select>
                    <ValidationMessage For="@(() => ClientObject.MerchantIds)" />
                </div>
                <div class="form-group">
                    <label for="dueDate">Client Name</label>
                    <InputText id="clientName" class="form-control" @bind-Value="@ClientObject.ClientName" />
                    <ValidationMessage For="@(() => ClientObject.ClientName)" />
                </div>
                <div class="form-group">
                    <label for="dueDate">User ID</label>
                    <InputText id="userId" class="form-control" @bind-Value="@ClientObject.UserId" />
                    <ValidationMessage For="@(() => ClientObject.UserId)" />
                </div>

                <div class="form-group">
                    <label for="dueDate">Client Email</label>
                    <InputText id="clientEmail" class="form-control" @bind-Value="@ClientObject.ClientEmail" />
                    <ValidationMessage For="@(() => ClientObject.ClientEmail)" />
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <InputCheckbox class="form-check-input" id="active" @bind-Value="@ClientObject.Active" />
                        <label class="form-check-label" for="active">
                            Approve Client
                        </label>
                    </div>
                    <ValidationMessage For="@(() => ClientObject.Active)" />
                </div>

                @*<div class="form-group">
                        <label for="dueDate">Merchant IDs</label>
                        <InputText id="merchantIds" class="form-control" @bind-Value="@ClientUserObject.MerchantIds" />
                    </div>

                    <div class="form-group">
                        <label for="dueDate">Merchant IDs</label>
                        <InputText id="merchantIds" class="form-control" @bind-Value="@ClientUserObject.MerchantIds" />
                    </div>*@
                <button type="submit" class="btn btn-primary" disabled="@Submitting">
                    @if (Submitting)
                    {
                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"> </span>
                    <span>Loading...</span>
                    }
                    else
                    {
                    <span>Submit</span>
                    }
                </button>
                <button type="button" class="btn btn-secondary" @onclick="BlazoredModal.Cancel">Cancel</button>
            </div>
        </div>
    </div>
    @*<button @onclick="@(e => Console.WriteLine("Hello, world!"))">Say hello</button>*@
</EditForm>

@code {



    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter]
    public string ClientInfo { get; set; }
    public ClientDto ClientObject { get; set; } = new ClientDto();

    // public IMerchantService MerchantService { get; set; }
    protected List<MerchantOption> MerchantList { get; set; } = new List<MerchantOption>();
    public EJournal.Domain.Enums.ClientType CType { get; set; }
    public string Error { get; set; } = string.Empty;
    public bool Submitting { get; set; }
    [Inject]
    public IClientUserService ClientService { get; set; }

    protected async override void OnInitialized()
    {

        if (!string.IsNullOrEmpty(ClientInfo))
        {
            var json = JsonConvert.DeserializeObject<ClientDto>(ClientInfo);
            ClientObject = json;
        };

        var merchants = await ClientService.GetMerchantClients();

        if (merchants != null)
        {
            MerchantList = merchants.Select(s => new MerchantOption
            {
                Id = s.Code,
                Name = s.Name
            }).ToList();
        }

    }

    private async void HandleValidSubmit()
    {
        Submitting = true;
        if (ClientObject.Id == 0)
        {
            var rId = await ClientService.PostClientUsersAsync(ClientObject);
            if (rId == -2)
            {
                Error = $"Client with userId: {ClientObject.UserId} and email : {ClientObject.ClientEmail} already exist";

                StateHasChanged();
            }
            else
            {

                BlazoredModal.Close(ModalResult.Ok($"Record was submitted successfully."));
            }


        }
        else
        {
            var rId = ClientService.UpdateClientUsersAsync(ClientObject);
            BlazoredModal.Close(ModalResult.Ok($"Record updated successfully."));
        }

        Submitting = false;
    }
    void OnClientTypeSelect(ChangeEventArgs e)
    {
        switch (e.Value.ToString())
        {
            case "1":
                // Statements executed if expression(or variable) = value1
                break;
            case "2":
                // Statements executed if expression(or variable) = value1
                break;
                //default: 0
        }

        // StateHasChanged();
    }

    void OnClientTypeSelect1(MouseEventArgs e)
    {

    }

    private string _message = "Select a button to learn its position.";

    private void UpdateHeading(MouseEventArgs e, int buttonNumber)
    {
        _message = $"You selected Button #{buttonNumber} at " +
            $"mouse position: {e.ClientX} X {e.ClientY}.";
    }

    protected class MerchantOption
    {
        public string Id { get; set; }
        public string Name { get; set; }
    }
}