﻿@inherits EditUserBase
 <div class="modal-w">
        <div class="row">
            <div class="col">
                @if (!string.IsNullOrEmpty(@Error))
                {
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        @Error
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
            <EditForm Model="@UserDto" OnValidSubmit="@HandleValidSubmit">

                <DataAnnotationsValidator />
                <div class="form-group">
                    <label for="firstname">Firstname</label>
                    <InputText id="firstname" class="form-control" @bind-Value="@UserDto.FirstName" />
                    <ValidationMessage For="@(() => UserDto.FirstName)" />
                </div>
                <div class="form-group">
                    <label for="lastname">Lastname</label>
                    <InputText id="lastname" class="form-control" @bind-Value="@UserDto.LastName" />
                    <ValidationMessage For="@(() => UserDto.LastName)" />
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <InputText id="email" class="form-control" @bind-Value="@UserDto.Username" placeholder="xp@xpresspayments.com" />
                    <ValidationMessage For="@(() => UserDto.Username)" />
                </div>
                <div class="form-group">
                    <label for="role">Role</label>
                    <select @bind="@UserDto.RoleId" class="form-control">
                        <option value="0">Choose...</option>
                        @if (RoleList != null)
                        {
                            @foreach (var cnt in RoleList)
                            {
                                <option value="@cnt.Id"selected=@(UserDto.RoleId == cnt.Id)>@cnt.Name</option>
                                
                            }
                        }
                    </select>



                </div>
                <div class="form-group">
                    <label for="inputState">Client</label>
                    <select @bind="@UserDto.ClientId" class="form-control">
                        <option value="0">Choose...</option>
                        @if (ClientList != null)
                        {
                            @foreach (var cnt in ClientList)
                            {
                                <option value="@cnt.Id" selected=@(UserDto.ClientId == cnt.Id)>@cnt.Name</option>
                            }
                        }
                    </select>


                </div>
                <button type="submit" class="btn btn-primary" disabled="@Submitting">
                    @if (Submitting)
                    {
                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"> </span>
                        <span>Loading...</span>
                    }
                    else
                    {
                        <span>Submit</span>
                    }
                </button>
                <button type="button" class="btn btn-secondary" @onclick="BlazoredModal.Cancel">Cancel</button>
            </EditForm>
            </div>
        </div>
    </div>


