﻿@inherits EditRoleBase
<EditForm Model="@RoleDto" OnValidSubmit="@HandleValidSubmit">

    <DataAnnotationsValidator />

    <div class="modal-w">
        <div class="row">
            <div class="col">
                @if (string.IsNullOrEmpty(Error))
                {
                    <div>
                        <label class="text-danger">@Error</label>
                    </div>
                }
                <div class="form-group">
                    <label for="firstname">Name</label>
                    <InputText id="firstname" class="form-control" @bind-Value="@RoleDto.Name" />
                    <ValidationMessage For="@(() => RoleDto.Name)" />
                </div>

                <button type="submit" class="btn btn-primary" disabled="@Submitting">
                    @if (Submitting)
                    {
                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"> </span>
                        <span>Loading...</span>
                    }
                    else
                    {
                        <span>Submit</span>
                    }
                </button>
                <button type="button" class="btn btn-secondary" @onclick="BlazoredModal.Cancel">Cancel</button>
            </div>
        </div>
    </div>

</EditForm>
