﻿@inherits TerminalNotificationDialogBase
@inject IJSRuntime js
@if (ShowDialog)
{

    <div class="modal fade show d-block" id="receiptDetails" tabindex="-1" role="dialog" aria-labelledby="userd" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
            <div class="modal-content">
                @*<div class="modal-header">
                        <h5 class="modal-title">User Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>*@
                <div class="modal-body">
                    <!----main modal-->
                    <div class="container">
                        <div class="row d-flex justify-content-center align-items-center modal-h-w" id="pdfPrintArea">
                            <div id="templateHolder">
                                <table cellspacing="0" border="0" class="ws">
                                    <colgroup width="104"></colgroup>
                                    <colgroup width="105"></colgroup>
                                    <colgroup span="4" width="94"></colgroup>
                                    <colgroup width="171"></colgroup>
                                    <colgroup width="104"></colgroup>
                                    <tr>
                                        <td colspan="6" height="19" align="center" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><span id="institution">@Notification.MerchantName</span></font></td>
                                    </tr>
                                    <tr>
                                        <td colspan="6" height="19" align="center" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><span id="institutionAddress">@Notification.MerchantAddress</span></font></td>
                                    </tr>
                                    <tr>
                                        <td height="19" align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><span id="pdate">@Notification.Transactiondate</span></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="right" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><span id="pTime">@Notification?.Timelocaltransaction</span></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                    </tr>
                                    <tr>
                                        <td height="19" align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000">TERMINAL ID</font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="right" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><span id="pterminalId">@Notification.Terminalid</span></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                    </tr>
                                    <tr>
                                        <td height="19" align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000">MERCHANT ID</font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="right" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><span id="pMerchantId">@Notification.MerchantId</span></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                    </tr>
                                    <tr>
                                        <td height="19" align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td colspan="4" align="center" valign="bottom" bgcolor="#EDEDED"><font color="#000000">***************************************************</font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                    </tr>
                                    <tr>
                                        <td height="10" align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td style="border-bottom: 1px solid #000000" colspan="4" align="center" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><span id="transType">@Notification.Trantype</span></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                    </tr>
                                    <tr>
                                        <td height="10" align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td class="td-1" colspan="4" align="center" valign="bottom" bgcolor="#EDEDED"><font color="#000000">***<span id="tStatus1">@Notification.TStatus</span>***</font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                    </tr>
                                    <tr>
                                        <td height="10" align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td style="border-bottom: dashed #000000" colspan="4" align="center" valign="bottom" bgcolor="#EDEDED"><font color="#000000">***CUSTOMER COPY***</font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                    </tr>
                                    <tr>
                                        <td height="19" align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000">PAN</font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="right" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><span id="pPan">@Notification.Pan</span></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                    </tr>
                                    <tr>
                                        <td height="19" align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000">EXPIRY</font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="right" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><span id="pExpired">@Notification.Track2</span></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                    </tr>
                                    <tr>
                                        <td height="19" align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000">NAME</font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="right" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><span id="pName">@Notification.CustomerName</span></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                    </tr>
                                    <tr>
                                        <td height="19" align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000">BATCH NO</font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="right" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><span id="pBatchNo">@Notification.Batchno</span></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                    </tr>
                                    <tr>
                                        <td height="19" align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000">SEQ NO</font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="right" valign="bottom" bgcolor="#EDEDED" sdval="2020" sdnum="1033"><font color="#000000"><span id="pSeqNo">@Notification.Seqno</span></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                    </tr>
                                    <tr>
                                        <td height="19" align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000">STAN</font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="right" valign="bottom" bgcolor="#EDEDED" sdval="630170" sdnum="1033"><font color="#000000"><span id="pStan">@Notification.Stan</span></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                    </tr>
                                    <tr>
                                        <td height="19" align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000">RRN</font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="right" valign="bottom" bgcolor="#EDEDED" sdnum=""><font color="#000000"><span id="pRrn">@Notification.Rrn</span></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                    </tr>
                                    <tr>
                                        <td height="19" align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000">AUTH ID</font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="right" valign="bottom" bgcolor="#EDEDED" sdval="546678" sdnum="1033"><font color="#000000"><span id="pAuthId">@Notification.Aurhorisationresponse</span></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                    </tr>
                                    <tr>
                                        <td height="19" align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000">AMOUNT</font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="right" valign="bottom" bgcolor="#EDEDED"><font color="#000000">NGN <span id="pAmount">@Notification.Amount</span></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                    </tr>
                                    <tr>
                                        <td height="19" align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000">ACCOUNT</font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="right" valign="bottom" bgcolor="#EDEDED"><font color="#000000">DEFAULT</font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                    </tr>
                                    <tr>
                                        <td height="19" align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td colspan="4" align="center" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><span id="tStatus2">@Notification.TStatus</span></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                    </tr>
                                    <tr>
                                        <td height="5" align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td style="border-bottom: dashed #000000" colspan="4" align="center" valign="bottom" bgcolor="#EDEDED"><small><font color="#000000"><span id="errorDetail">@Notification.Responsedescription</span></font></small></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                    </tr>

                                    <tr>
                                        <td height="19" align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000">AID</font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="right" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><span id="aid">@Notification.Aid</span></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                    </tr>
                                    <tr>
                                        <td height="19" align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000">CARD</font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="right" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><span id="card">@Notification.Card</span></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                    </tr>
                                    <tr>
                                        <td height="19" align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000">AC</font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="right" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><span id="ac">@Notification.Ac</span></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                    </tr>
                                    <tr>
                                        <td height="19" align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000">TVR</font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="right" valign="bottom" bgcolor="#EDEDED" sdnum=""><font color="#000000"><span id="tvr">@Notification.Tvr</span></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                    </tr>
                                    <tr>
                                        <td height="19" align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000">TSI</font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td align="right" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><span id="tsi">@Notification.Tsi</span></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                    </tr>
                                    <tr>
                                        <td height="19" align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td colspan="4" align="center" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><span id="footer">@Notification.Footer</span></font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                    </tr>
                                    <tr>
                                        <td height="19" align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td colspan="4" align="center" valign="bottom" bgcolor="#EDEDED"><font color="#000000">***************************************************</font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                    </tr>
                                    <tr>
                                        <td height="19" align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td colspan="4" align="center" valign="bottom" bgcolor="#EDEDED"><font color="#000000">***eJOURNAL***</font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                    </tr>
                                    <tr>
                                        <td height="19" align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td colspan="4" align="center" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><a href="http://www.xpresspayments.com/">www.xpresspayments.com</a></font></td>
                                        <td align="center" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                    </tr>
                                    <tr>
                                        <td height="19" align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                        <td colspan="4" align="center" valign="bottom" bgcolor="#EDEDED" sdval="23416312430" sdnum="1033"><font color="#000000">23416312430</font></td>
                                        <td align="left" valign="bottom" bgcolor="#EDEDED"><font color="#000000"><br /></font></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!---end  of modal-->

                    <div class="container mt-2">
                        <div class="row">
                            <div class="col-sm-12">

                            </div>
                            @*<div class="col-sm-12 mb-3">
                                    <div class="input-group">

                                        <input type="text" class="form-control" id="sendEmail" placeholder="Recipient email(s)">
                                        <div class="input-group-append">

                                            <button type="button" class="btn btn-primary mb-2">Send Email As Attachment</button>
                                        </div>


                                    </div>
                                    <small id="emailHelp" class="form-text text-muted mt-0">for multiple email seperate with (,).</small>

                                </div>*@
                        </div>
                        <div class="row">
                            <div class="col-sm-4">

                                @*<div class="form-group">
                                        <button type="button" class="btn btn-primary mb-2" id="generatePdf1">Export To PDF</button>

                                    </div>*@
                            </div>
                            <div class="col-sm-4">
                                @*<div class="form-group">
                                        print

                                    </div>*@
                            </div>
                            <div class="col-sm-4">

                                <button type="button" class="btn btn-secondary float-right" @onclick="@Close">Close</button>
                                <button @onclick="@(p => DownloadPDF(js, Notification))" type="button" style="margin-right:5px" class="btn btn-primary float-right"><i class="fa fa-download"></i> Download</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

