﻿@page "/"
@namespace WebApi.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Blazor.FlexGrid
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyBlazorApp</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="_content/Blazored.Toast/blazored-toast.css" rel="stylesheet" />
    <link rel="stylesheet" href="Blazor.FlexGrid/FlexGridStyles.css" />
    <link rel="stylesheet" href="Blazor.FlexGrid/fontawesome/css/fontawesome.css" />
    <link rel="stylesheet" href="Blazor.FlexGrid/fontawesome/css/all.css" />
    <link rel="stylesheet" href="Blazor.FlexGrid/fontawesome/css/regular.css" />
    <link rel="stylesheet" href="Blazor.FlexGrid/fontawesome/css/solid.css" />
    <link rel="stylesheet" href="Blazor.FlexGrid/fontawesome/css/svg-with-js.css" />
    <link rel="stylesheet" href="Blazor.FlexGrid/fontawesome/css/v4-shims.css" />
    <link rel="stylesheet" href="_content/BlazorDateRangePicker/daterangepicker.min.css" />
    

</head>
<body>
    <div id="">
        <app>
            <component type="typeof(App)" render-mode="Server" />
        </app>
    </div>


    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/jsPDF.js"></script>
    <script src="~/lib/jquery/download.js"></script>
    <script src="_framework/blazor.server.js"></script>
    <script src="_content/CurrieTechnologies.Razor.SweetAlert2/sweetAlert2.min.js"></script>
    <script src="_content/BlazorDateRangePicker/clickAndPositionHandler.js"></script>
    <script src="_content/Microsoft.AspNetCore.ProtectedBrowserStorage/protectedBrowserStorage.js"></script>
    <link href="_content/Blazored.Modal/blazored-modal.css" rel="stylesheet" />
    <script src="~/lib/jquery/pdfAction.js"></script>

    <script src="Blazor.FlexGrid/flexGridIntereop.js"></script>
    <script>
        document.getElementById("demo").addEventListener("click", myFunction);

        function myFunction() {
            console.log("Ready8")
        }
        function ShowModal(modalId) {
            console.log("Ready3")
            $('#' + modalId).modal('show');
        }
        function CloseModal(modalId) {
            console.log("Ready4")
            $('#' + modalId).modal('hide');
        }
        $(document).ready(function () {
            console.log("Ready2")

            $("button").click(function () {
                console.log("download")
            });
        });
    </script>
    <script>
        window.GetUser = () => {
            var user = localStorage.getItem("userInfo")
            return user;
        };
    </script>
    <script>
        window.IsLogIn = () => {
            var user = sessionStorage.getItem("IsLogIn")
            return user;
        };
    </script>
    <script>
        window.IsAdmin = () => {
            var isAdmin = localStorage.getItem("IsAdmin")
            return isAdmin;
        };
    </script>
</body>
</html>
