﻿@page "/index"
@using System.Web;
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Welcome to eJournal portal</h1>
          
        </div>
    </div>
@*@code {
    
    protected override async Task OnInitializedAsync()
    {
        // Get the current user
    

    }
}*@
