﻿@page "/ejournalPos"
@using BlazorDateRangePicker
@using EJournal.Domain.Entities;
@inherits TerminalNotificationBase
@using Blazor.FlexGrid.Components.Configuration
@using Blazor.FlexGrid.Components
@inject BlazorComponentColumnCollection<Notification> Collection
@inject IJSRuntime JSRuntime
<h3>Terminal Notification</h3>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <EditForm Model="TerminalSearch" OnValidSubmit="HandleValidSearch">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group ">
                                    <InputText class="form-control form-control-sm" id="rrn" placeholder="RRN" @bind-Value="TerminalSearch.RRN" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group ">
                                    <InputText class="form-control form-control-sm" id="stan" placeholder="STAN" @bind-Value="TerminalSearch.STAN" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group ">
                                    <InputText class="form-control form-control-sm" placeholder="Approval Code" @bind-Value="TerminalSearch.ApprovalCode" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group ">
                                    <InputText class="form-control form-control-sm" placeholder="Terminal ID" @bind-Value="TerminalSearch.TerminalId" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="form-group ">
                                    @*<InputText class="form-control" id="startDate" type="date" @bind-Value="TerminalSearch.StartDate"/>*@
                                    <DateRangePicker MinDate="DateTimeOffset.Now.AddYears(-5)"
                                                     MaxDate="DateTimeOffset.Now" class="form-control form-control-sm" placeholder="Select dates..." OnRangeSelect="OnRangeSelect" />
                                </div>
                            </div>
                            @*<div class="col-sm-4">
                                    <div class="form-group ">
                                        <input type="text" class="form-control" placeholder="Firma, şahis, araç ismiyle arayabilirsin">
                                    </div>
                                </div>*@
                            <div class="col-md-3">
                                <button id="test" type="submit" class="btn btn-warning  pl-5 pr-5" disabled="@Loading">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </EditForm>

        </div>

        <div class="col-sm-12">

            @if (Loading)
            {

                <div class="d-flex align-items-center mt-1">
                    <strong>Loading...</strong>
                    <div class="spinner-border ml-auto" role="status" aria-hidden="true">

                    </div>
                </div>
            }
            else
            {
                <div  class="table-responsive" style="overflow:auto; height:500px;display:block">

                    @*<GridView DataAdapter="@Notification" PageSize="10"></GridView>*@

                    <table id="example" class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">MerchantId</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Stan</th>
                                <th scope="col">Pan</th>
                                <th scope="col">Terminalid</th>
                                <th scope="col">CreatedDate</th>
                                <th scope="col">Rrn</th>
                                <th scope="col">Customer</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (notifyList != null)
                            {
                                @foreach (var notification in notifyList)
                                {
                                    <tr>
                                        <td>@notification.MerchantId</td>
                                        <td>@notification.Amount</td>
                                        <td>@notification.Stan</td>
                                        <td>@notification.Pan</td>
                                        <td>@notification.Terminalid</td>
                                        <td>@notification.CreatedDate</td>
                                        <td>@notification.Rrn</td>
                                        <td>@notification.CustomerName</td>
                                        <td><span class="fa fa-align-justify" @onclick="@(() => ShowDetails(notification.Stan) )"></span></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            }

        </div>


    </div>


    <TerminalNotificationDialog @ref="TerminalNotificationDialog" Notification="NotificationDto">

    </TerminalNotificationDialog>
</div>



