﻿@using Blazor.FlexGrid.DataAdapters
@using EJournal.Application.Notification;
@using Blazor.FlexGrid.Components

<div class="col-sm-12">
    <div class="table-responsive">

        @if (Notification == null)
        {
            @*@if (Searching)
                {

                }*@
            <p><em>Loading...</em></p>
        }
        else
        {
            <GridView DataAdapter="@Notification" PageSize="5"></GridView>
        }
    </div>
</div>
@code {
    [Parameter]
    public NotificationDto[] NotificationList { get; set; }
    public CollectionTableDataAdapter<NotificationDto> Notification { get; set; }
    protected override void OnInitialized()
    {
        if (NotificationList.Count() > 0)
        {
            Notification = new CollectionTableDataAdapter<NotificationDto>(NotificationList);
        }
    }
}
