@using WebApi.HttpServices;
@using WebApi.Pages.Account;
@inject Blazored.LocalStorage.ILocalStorageService  sessionStorage
@inject IJSRuntime JS

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        @if (AppState.IsLoggedIn)
        {

            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        }
        else
        {
            if (navManager.ToBaseRelativePath(navManager.Uri).Equals("changepassword"))
            {
                <ChangePassword />
            }
            else if (navManager.ToBaseRelativePath(navManager.Uri).Equals("forgetpassword"))
            {
                <ForgetPassword />
            }
            else
            {


                <Login />

            }
        }

    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>


@code {
    [Inject]
    public NavigationManager navManager { get; set; }
    [Inject]
    public Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor { get; set; }
    [Inject]
    protected AppState AppState { get; set; }

    protected async override Task OnInitializedAsync()
    {
       // var test = navManager.Uri;
      //  var rp = navManager.ToBaseRelativePath(navManager.Uri);
      //  var test1 = httpContextAccessor.HttpContext.Request.Query;


        var user = await JS.InvokeAsync<string>("GetUser");
        var isLogedIn = await JS.InvokeAsync<string>("IsLogIn");



        var checkUser = AppState.CheckUser(user);
        if (Convert.ToBoolean(isLogedIn) == true)
        {
            if (user != null)
            {
                AppState.IsLoggedIn = true;
                AppState.FullName = checkUser.Username;
            }
        }
        if (!AppState.IsLoggedIn)
        {
            await AppState.Logout();
            navManager.NavigateTo("/login");
        }
        else
        {
            navManager.ToBaseRelativePath(navManager.Uri);
            //navManager.NavigateTo("/ejournalPos");
        }


    }
}