﻿@page "/clients"
@inherits UserListBase
@using Blazor.FlexGrid.Components.Configuration
@using Blazor.FlexGrid.Components
@inject BlazorComponentColumnCollection<ClientDto> Collection
@{
    RenderFragment<ClientDto> clientTemp = (client) => @<div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Action
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="javascript:void(0)" @onclick="@(() => EditClient(@client.Id))">
                <small>Edit</small>
            </a>
            <a class="dropdown-item @(@client.Active == true ? "d-block":"d-none")" href="javascript:void(0)" @onclick="@(() => DisableEnable(@client.Id,false) )"><small>De-active</small></a>
            <a class="dropdown-item @(@client.Active == false ? "d-block":"d-none")" href="javascript:void(0)" @onclick="@(() => DisableEnable(@client.Id,true) )"><small>Activate</small></a>
            <a class="dropdown-item" href="javascript:void(0)"><small>Reset Key</small></a>

        </div>
    </div>;
Collection.AddColumnValueRenderFunction(w => w.UrlPath, clientTemp);
}
<h3 class="page-title">Client User</h3>

<div class="float-right mb-2">
    <button @onclick="@(() => ClientSetUp())" class="btn btn-dark table-btn">&nbsp;&nbsp;+ &nbsp;&nbsp;</button>
</div>

@if (DataAdapter == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @*<GridView DataAdapter="@DataAdapter" PageSize="10"></GridView>*@

    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Client Name</th>
                <th scope="col">Bank Code</th>
                <th scope="col">Merchant ID</th>
                <th scope="col">User ID</th>
                <th scope="col">Email</th>
                <th scope="col">Active</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (userList != null)
            {
                @foreach (var user in userList)
                {
            <tr>
                <td>@user.Id</td>
                <td>@user.ClientName</td>
                <td>@user.BankCode</td>
                <td>@user.MerchantIds</td>
                <td>@user.UserId</td>
                <td>@user.ClientEmail</td>
                <td>@user.Active</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="javascript:void(0)" @onclick="@(() => EditClient(@user.Id))">
                                <small>Edit</small>
                            </a>
                            <a class="dropdown-item @(@user.Active == true ? "d-block":"d-none")" href="javascript:void(0)" @onclick="@(() => DisableEnable(@user.Id,false) )"><small>De-active</small></a>
                            <a class="dropdown-item @(@user.Active == false ? "d-block":"d-none")" href="javascript:void(0)" @onclick="@(() => DisableEnable(@user.Id,true) )"><small>Activate</small></a>
                            <a class="dropdown-item" href="javascript:void(0)"><small>Reset Key</small></a>

                        </div>
                    </div>
                </td>
            </tr>
                }
            }
        </tbody>
    </table>

}
