﻿@page "/appusers"
@inherits AppUsersBase
@using EJournal.Application.User;
@using Blazor.FlexGrid.Components.Configuration
@using Blazor.FlexGrid.Components
@inject BlazorComponentColumnCollection<UserDto> Collection
@*@{
    RenderFragment<UserDto> userTemp = (user) => @<div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Action
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="javascript:void(0)" @onclick="@(() => ModifyUser(user.Id) )">
                <small>Edit</small>
            </a>

        </div>
    </div>;
Collection.AddColumnValueRenderFunction(w => w.RoleId, userTemp);
}*@
<h3 class="page-title">Client User</h3>

<div class="float-right mb-2">
    <button @onclick="@(() => UserSetUp())" class="btn btn-dark table-btn">&nbsp;&nbsp;+ &nbsp;&nbsp;</button>
</div>

@if (DataAdapter == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @*<GridView DataAdapter="@DataAdapter" PageSize="10"></GridView>*@


    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">UserName</th>
                <th scope="col">Role</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (userList != null)
            {
                @foreach (var user in userList)
                {
                    <tr>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.Username</td>
                        <td>@user.Role.Name</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-danger dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript:void(0)" @onclick="@(() => ModifyUser(user.Id) )">
                                        <small>Edit</small>
                                    </a>

                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
