﻿@page "/merchant"
@inherits MerchantManagerBase
@using EJournal.Application.Role;
@using Blazor.FlexGrid.Components.Configuration
@using Blazor.FlexGrid.Components
@inject BlazorComponentColumnCollection<EJournal.Application.Merchant.MerchantDTO> Collection
@{
    RenderFragment<EJournal.Application.Merchant.MerchantDTO> merchantTemp = (merchant) => @<div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Action
        </button>
        @*<div class="dropdown-menu">
            <a class="dropdown-item" href="javascript:void(0)" @onclick="@(() => ModifyRole(merchant.id) )">
                <small>Edit</small>
            </a>

        </div>*@
    </div>;

}
<h3 class="page-title">Merchant</h3>

@*<div class="float-right mb-2">
    <button @onclick="@(() => RoleSetUp())" class="btn btn-dark table-btn">&nbsp;&nbsp;+ &nbsp;&nbsp;</button>
</div>*@

@if (DataAdapter == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <GridView DataAdapter="@DataAdapter" PageSize="10"></GridView>

}

