﻿@page "/roles"
@inherits RoleManagerBase
@using EJournal.Application.Role;
@using Blazor.FlexGrid.Components.Configuration
@using Blazor.FlexGrid.Components
@inject BlazorComponentColumnCollection<RoleDto> Collection
@*@{
    RenderFragment<RoleDto> roleTemp = (role) => @<div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Action
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="javascript:void(0)" @onclick="@(() => ModifyRole(role.Id) )">
                <small>Edit</small>
            </a>

        </div>
    </div>;
Collection.AddColumnValueRenderFunction(w => w.Button, roleTemp);
}*@
<h3 class="page-title">Client User</h3>

<div class="float-right mb-2">
    <button @onclick="@(() => RoleSetUp())" class="btn btn-dark table-btn">&nbsp;&nbsp;+ &nbsp;&nbsp;</button>
</div>

@if (DataAdapter == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @*<GridView DataAdapter="@DataAdapter" PageSize="10"></GridView>*@

    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (roleList != null)
            {
                @foreach (var role in roleList)
                {
                    <tr>
                        <td>@role.Name</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-danger dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript:void(0)" @onclick="@(() => ModifyRole(role.Id) )">
                                        <small>Edit</small>
                                    </a>

                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

}
