﻿@page "/changepassword"
@layout LoginLayout
<div class="container">
    <div class="row">
       
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">ChangeP assword</h5>
                    <EditForm class="form-signin" OnValidSubmit="OnSubmit" Model="PasswordModel">
                        <DataAnnotationsValidator />

                        <div class="form-label-group">
                            <label for="inputEmail">Current/Given Password</label>
                            <InputText type="password" @bind-Value="@PasswordModel.Password" class="form-control" required autofocus />
                            <ValidationMessage For="@(()=> PasswordModel.Password)" />
                        </div>

                        <div class="form-label-group">
                            <label for="inputPassword">New Password</label>
                            <InputText type="password" @bind-Value="@PasswordModel.NewPassword" class="form-control" required />
                            <ValidationMessage For="@(()=> PasswordModel.NewPassword)" />

                        </div>

                        <div class="form-label-group">
                            <label for="inputPassword">Confirm Password</label>
                            <InputText type="password" @bind-Value="@PasswordModel.ComfirmPassword" class="form-control" required />
                            <ValidationMessage For="@(()=> PasswordModel.ComfirmPassword)" />

                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase mt-3" type="submit" disabled="@Submitting">
                            @if (Submitting)
                            {
                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"> </span>
                                <span>Loading...</span>
                            }
                            else
                            {
                                <span>Submit</span>
                            }


                        </button>
                        <hr class="my-4">
                        @*<button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
        <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>*@
                        
                        @if (!string.IsNullOrEmpty(Message))
                        {
                            <label class="@Alert">@Message</label>
                        }
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Inject]
    public IUserManagerService UserManagerService{ get; set; }
    public PasswordChange PasswordModel { get; set; } = new PasswordChange();
    public string Message { get; set; } = string.Empty;
    public string Alert { get; set; } = string.Empty;

    public bool Submitting { get; set; }
    protected async Task OnSubmit()
    {
        Submitting = true;
        var change = await UserManagerService.ChangePassword(PasswordModel);
        if (change)
        {
            Alert = "text-success";
            Message = "Password change was successful";
        }
        else
        {
            Alert = "text-danger";
            Message = "Invalid initial password supply"; ;
        }

        Submitting = false;
        //StateHasChanged();
    }

}
