﻿@page "/login"
@layout LoginLayout
@inherits LoginBase
 <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Sign In</h5>
                        <EditForm class="form-signin" OnValidSubmit="OnSubmit" Model="LoginParams">
                            <DataAnnotationsValidator />

                            <div class="form-label-group">
                                <label for="inputEmail">Email address</label>
                                <InputText type="email" id="inputEmail" @bind-Value="LoginParams.Username" class="form-control" placeholder="Email address/Username" required autofocus />
                                <ValidationMessage For="@(()=> LoginParams.Username)" />
                            </div>

                            <div class="form-label-group">
                                <label for="inputPassword">Password</label>
                                <InputText type="password" id="inputPassword" @bind-Value="LoginParams.Password" class="form-control" placeholder="Password" required />
                                <ValidationMessage For="@(()=> LoginParams.Password)" />

                            </div>

                            @*<div class="custom-control custom-checkbox mb-3">
              <InputCheckbox  class="form-check-input" @bind-Value="@LoginParams.RememberMe"/>
                <label class="custom-control-label" for="customCheck1">Remember password</label>
            </div>*@
                            <button class="btn btn-lg btn-primary btn-block text-uppercase mt-3" type="submit" disabled="@Submitting">
                                @if (Submitting)
                                {
                                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"> </span>
                                    <span>Loading...</span>
                                }
                                else
                                {
                                    <span> Sign in</span>
                                }


                            </button>
                            <hr class="my-4">


                            <label class="text-danger">@Error</label>
                        </EditForm>
                        <ul class="nav">
                            <li class="nav-item">
                                <NavLink href="changepassword">
                                    Change password
                                </NavLink>
                            </li>
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp; &nbsp; 
                            <li class="nav-item">
                                <NavLink href="forgetpassword">
                                    Forget password
                                </NavLink>
                            </li>

                        </ul>
                       
                       
                    </div>
                </div>
            </div>
        </div>
    </div>

@code {
   
}
