﻿@inherits LayoutComponentBase
@inject AppState AppState
@using System.IdentityModel.Tokens.Jwt
@using Microsoft.AspNetCore.Http


<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <BlazoredToasts />
    <BlazoredModal Position="@ModalPosition.TopLeft" />
    <div class="top-row px-4">
        <div>
            Logged in as @AppState.FullName
            <button class="btn btn-sm btn-outline-dark" @onclick="@(() => AppState.Logout())">Logout</button>
        </div>
    </div>

    <div class="content px-4">

        @Body
    </div>
</div>

