﻿@inherits NavMenuBase
@inject Blazored.SessionStorage.ISessionStorageService  sessionStorage
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">eJournal</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div style="width:200px" class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    @*<div style="display:none">@AppState.CheckSession()</div>*@
    @if (AppState.IsLoggedIn)
    {
    <ul style="width:270px" class="nav flex-column">
        @if (AppState.IsAdmin)
            {
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="clients" Match="NavLinkMatch.All">
                <span class="oi oi-eye" aria-hidden="true"></span> Client Users
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="appusers">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span>User Manager
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="roles">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Role Manager
            </NavLink>
        </li>

            }
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ejournalPos">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> eJournal
            </NavLink>
        </li>


    </ul>
    }
</div>





